*{
  box-sizing: border-box;
  margin: 0;
}
.setkaContainer{
  position: relative;
  width: min-content;
}
.circle{
  border: 5px solid red;
  border-radius: 50%;
  width: 100%;
  height: calc(100% / 3);
  position: absolute;
  top: 0;
  left: 0;
}
.disableEvents{
  pointer-events: none;
}