*{
  box-sizing: border-box;
  margin: 0;
}
.setkaContainer{
  position: relative;
  width: min-content;
}
.circle{
  border: 5px solid red;
  border-radius: 50%;
  width: 100%;
  height: calc(100% / 3);
  position: absolute;
  top: 0;
  left: 0;
}
.disableEvents{
  pointer-events: none;
}

.hbContainer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.hbContainer__button{
  font-size: 20px;
  padding: 20px;
}